.service-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 0.5em;
  grid-auto-columns: minmax(200px, auto);
}

.service-text > h3 {
  color: #0d6e98;
}

.service-image-wrapper {
  height: 400px;
  width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.service-image {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: transform 600ms linear;
}

.service-image:hover {
  transform: scale(1.15);
}

#menu {
  text-decoration: none;
  color: #0d6e98;
}
